.navbar {
    background: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    height: 40px;
}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
    color: #1877f2;
}

.navbar .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
    margin-top: 5px;
}

form {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* Giảm khoảng cách giữa các label và input */
}

label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 3px;
    /* Giảm khoảng cách giữa label và input */
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

input {
    flex-grow: 1;
    /* Làm cho tất cả các input có độ rộng giống nhau */
}

input:focus,
select:focus,
button:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}